@model AvaliacaoPessoasModel
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = "../Shared/_LayoutAvaliar.cshtml";
}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container" style="background-color:rgba(239, 239, 239, 0.99); border-radius: 10px; padding:20px; width:300px;">
    @{
        try
        {
            if (TempData["MensagemLoginInvalido"].ToString() != null)
            {
                <div class="alert alert-danger">
                    <strong>Atenção!</strong> @TempData["MensagemLoginInvalido"]
                </div>
            }
        }
        catch { }
    }




    <form asp-controller="AvaliacaoCargo" asp-action="ValidarUser">



        <div class="form-group">
            <label for="pwd">Nome do Gestor:</label>
            <input type="text" id="txtNomeGest" name="txtNomeGest" class="form-control" value="@HttpContextAccessor.HttpContext.Session.GetString("NomeUsuarioLogado") " asp-for="NomeGestor">
        </div>
        <div class="form-group">
            <label for="Nome">Digite a Matricula do Colaborador:</label>
            <input type="text" class="form-control" id="txtmatricula" name ="txtmatricula" value="@HttpContextAccessor.HttpContext.Session.GetString("NomeUsuarioMatricula") " asp-for="Matricula">
        </div>
        <div class="checkbox">
            <label style="font-size:150%;background-color:gainsboro;color:red"><b>Avaliação de Cargo<b /></label>
        </div>
        <button type="submit" class="btn btn-primary" >Avaliar</button>


    </form>



    @section Scripts {


       

    }
