
@{
    ViewData["Title"] = "Menu";
}

<div class="row">

   
        <div class="row">
            <a href="../AvaliacaoMetas/Index">
                <div class="col-lg-4 text-center">
                    <img src="~/images/metas.png" width="58%" />
                    <h3>3 - Resultado/Metas</h3>
                </div>

            </a>
           
                   

                    </div>


