
@{
    ViewData["Title"] = "Menu";
}

<div class="row">

</div>
<a href="../AvaliacaoPessoas/Index_Assist">
    <div class="col-lg-4 text-center">
        <img src="~/images/pessoas.jpg" width="90%" />
        <h3>1 - Competências </h3>
        
    </div>
</a>
    <div class="row">
        <a href="../AvaliacaoCargo/Login">
            <div class="col-lg-4 text-center">
                <img src="~/images/cargo.jpg" width="80%" />
                <h3>2 - Cargo</h3>
            </div>

        </a>
        <div class="row">
            <a href="../AvaliacaoMetas/Index">
                <div class="col-lg-4 text-center">
                    <img src="~/images/metas.png" width="58%" />
                    <h3>3 - Resultado/Metas</h3>
                </div>

            </a>
            
            <div class="row">
                <a href="../Usuario/AlterarSenha">
                    <div class="col-lg-4 text-center">
                        </br></br>
                        <img src="~/images/ajuda.png" width="40%" />
                        <h3>Alterar a Senha</h3>
                    </div>
                </a>
            </div>


