@model CompetenciaModel
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Sistema de Avaliação";
}
<h5><b style="font-size:20px">Bem Vindo Avaliação de Negocios !</b><br> <b style="font-size:15px"> Você está avaliando o colaborador :</b> <b style="color:red"> @HttpContextAccessor.HttpContext.Session.GetString("NomeUsuarioColaborador")</b></h5>
<html lang="en" id="teste">

<body>
    <form asp-controller="Competencia" asp-action="UpdateSenhaUpdate">
        <div>
            <table id="minhaTabela" class="table-hover alert-info bg-primary" style="width:100%;background:#e3efee;border-color:blue" align="center" border="1" bgcolor="#CCC">
                <thead>
                    <tr>
                        <td style="background:#4489f6;text-align:center;color:white">
                            Pontuação
                        </td>

                        <td style="background:#4489f6;text-align:center;color:white">
                           Compromisso com a Segurança
                        </td>
                        <td style="background:#4489f6;text-align:center;color:white">
                            Nivel 
                        </td>
                        <td style="background:#4489f6;text-align:center;color:white">
                              Cuidar da sua própria segurança e da segurança do outro, propagando as normas e procedimentos de segurança do trabalho, sendo exemplo. Fazer uso dos EPI´s corretamente e adotar o conceito de EIJI TOYODA: "O trabalho seguro é a porta para todos os trabalhos. Vamos atravessar essa porta."
                        </td>

                    </tr>

                </thead>
                <tbody>



                    <tr>
                        <td style="text-align:center;background:white">
                            <input id="Checkbox1" name="Negocios01" value="0,588235294" type="radio" asp-for="Negocios01" />
                        </td>
                        <td style="text-align:center;background:white">
                              1 
                        </td>
                        <td style="text-align:center;background:white">
                            BÁSICO 
                        </td>


                        <td style="text-align:center;background:white">
                             Teve grande dificuldade para cumprir as normas de segurança. Não seguiu os procedimentos, podendo causar incidentes e/ou acidentes.
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;background:white">
                            <input id="Checkbox1" name="Negocios01" value="1,470588235" type="radio" asp-for="Negocios01" />
                        </td>
                        <td style="text-align:center;background:white">
                             2 
                        </td>
                        <td style="text-align:center;background:white">
                             MÉDIO 
                        </td>

                        <td style="text-align:center;background:white">
                             Demonstrou com frequencia atitudes seguras. Respeitou e cumpriu as normas e regras de segurança e por vezes contribuiu na disseminação dos procedimentos.

                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;background:white">
                            <input id="Checkbox1" name="Negocios01" value="2,941176471" type="radio" asp-for="Negocios01" />
                        </td>
                        <td style="text-align:center;background:white">
                              3
                        </td>
                        <td style="text-align:center;background:white">
                              ALTO
                        </td>
                        <td style="text-align:center;background:white">
                           Cumpriu as normas e procedimentos de segurança, além de propagar a segurança para outros. Mostrou interesse em participar das atividades relacionadas a área de segurança, apoiando as campanhas internas.


                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;background:white">
                            <input id="Checkbox1" name="Negocios01" value="4,117647059" type="radio" asp-for="Negocios01" />
                        </td>
                        <td style="text-align:center;background:white">
                             4
                        </td>
                        <td style="text-align:center;background:white">
                              AVANÇADO
                        </td>

                        <td style="text-align:center;background:white">
                            
                                Influenciou rigorosamente o cumprimento nas normas de segurança em sua unidade e demais áreas que mantém relacionamento. Foi exigente com a falta de segurança a ponto de oferecer soluções imediatas para uma situação de risco. É facilitador  nos treinamentos internos relacionados a área de segurança.

                            
                        </td>
                    </tr>




            </table>
            <br>
            <body>

                <div>
                    <table id="minhaTabela2" class="table-hover alert-info bg-primary" style="width:100%;background:#e3efee;border-color:blue" align="center" border="1" bgcolor="#CCC">
                        <thead>
                            <tr>
                                <td style="background:#4489f6;text-align:center;color:white">
                                    Pontuação

                                </td>
                                <td style="background:#4489f6;text-align:center;color:white">
                                   Compromisso com a Qualidade

                                </td>
                                <td style="background:#4489f6;text-align:center;color:white">
                                        Nivel
                                </td>
                                <td style="background:#4489f6;text-align:center;color:white">
                                      Assume o compromisso com a qualidade dos serviços prestados, executando suas atividades com excelência, exatidão e sem incidencia de erros, evitando retrabalho e desperdícios.

                                </td>

                            </tr>

                        </thead>
                        <tbody>

                            @{

                                {

                                    <tr>
                                        <td style="text-align:center;background:white">
                                            <input id="Checkbox2" name="Negocios02" value="0,588235294" type="radio" asp-for="Negocios02" />
                                        </td>
                                        <td style="text-align:center;background:white">
                                               1
                                        </td>
                                        <td style="text-align:center;background:white">
                                             BÁSICO
                                        </td>

                                        <td style="text-align:center;background:white">
                                             Apresentou grande dificuldade em realizar as atividades corretamente, necessitando de constante orientação.

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center;background:white">
                                            <input id="Checkbox2" name="Negocios02" value="1,470588235" type="radio" asp-for="Negocios02" />
                                        </td>
                                        <td style="text-align:center;background:white">
                                                2
                                        </td>
                                        <td style="text-align:center;background:white">
                                               MÉDIO
                                        </td>

                                        <td style="text-align:center;background:white">
                                           
                                                Realizou atividades de acordo com os procedimentos, porém necessitou de revisão e correções pontuais.
                                                ação dos procedimentos.
                                           

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center;background:white">
                                            <input id="Checkbox2" name="Negocios02" value="2,941176471" type="radio" asp-for="Negocios02" />
                                        </td>
                                        <td style="text-align:center;background:white">
                                             3
                                        </td>
                                        <td style="text-align:center;background:white">
                                               ALTO
                                        </td>

                                        <td style="text-align:center;background:white">
                                                   Entregou trabalhos de forma excelente, sem erros com alto grau de qualidade.


                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center;background:white">
                                            <input id="Checkbox2" name="Negocios02" value="4,117647059" type="radio" asp-for="Negocios02" />
                                        </td>
                                        <td style="text-align:center;background:white">
                                               4
                                        </td>
                                        <td style="text-align:center;background:white">
                                                AVANÇADO
                                        </td>

                                        <td style="text-align:center;background:white">
                                            Influenciou rigorosamente o cumprimento nas normas de segurança em sua unidade e demais áreas que mantém relacionamento. Foi exigente com a falta de segurança a ponto de oferecer soluções imediatas para uma situação de risco. É facilitador  nos treinamentos internos relacionados a área de segurança.


                                        </td>
                                    </tr>



                                }

                            }
                    </table>
                    <br>
                </div>

                <body>

                    <div>
                        <table id="minhaTabela03" class="table-hover alert-info bg-primary" style="width:100%;background:#e3efee;border-color:blue" align="center" border="1" bgcolor="#CCC">
                            <thead>
                                <tr>
                                    <td style="background:#4489f6;text-align:center;color:white">
                                      Pontuação


                                    </td>
                                    <td style="background:#4489f6;text-align:center;color:white">
                                       Compromisso com o Resultado


                                    </td>
                                    <td style="background:#4489f6;text-align:center;color:white">
                                           Nivel
                                    </td>
                                    <td style="background:#4489f6;text-align:center;color:white">
                                             Atinge os objetivos e metas estabelecidas, demonstra energia para assumir novos desafios e trabalha ativamente para melhorar a si mesmo. Em momentos de pressão, é persistente, sabendo priorizar, otimizar e alocar os recursos adequadamente dentro dos prazos e orçamentos previstos.


                                    </td>

                                </tr>

                            </thead>
                            <tbody>

                                @{

                                    {

                                        <tr>
                                            <td style="text-align:center;background:white">
                                                <input id="Checkbox3" name="Negocios03" value="0,588235294" type="radio" asp-for="Negocios03" />
                                            </td>
                                            <td style="text-align:center;background:white">
                                                 1
                                            </td>
                                            <td style="text-align:center;background:white">
                                                   BÁSICO
                                            </td>

                                            <td style="text-align:center;background:white">
                                                   Entregou os resultados abaixo do esperado e apresentou dificuldade em priorizar corretamente suas ações / atividades. Necessitou de orientação e/ou supervisão constante para atendimento ao prazo e orçamento.


                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center;background:white">
                                                <input id="Checkbox3" name="Negocios03" value="1,470588235" type="radio" asp-for="Negocios03" />
                                            </td>
                                            <td style="text-align:center;background:white">
                                                   2
                                            </td>
                                            <td style="text-align:center;background:white">
                                                MÉDIO
                                            </td>

                                            <td style="text-align:center;background:white">
                                                Entregou os resultados acordados, dentro dos prazos e orçamentos estabelecidos.


                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center;background:white">
                                                <input id="Checkbox3" name="Negocios03" value="2,941176471" type="radio" asp-for="Negocios03" />
                                            </td>
                                            <td style="text-align:center;background:white">
                                                   3
                                            </td>
                                            <td style="text-align:center;background:white">
                                                     ALTO
                                            </td>

                                            <td style="text-align:center;background:white">
                                               Entregou resultados acima do esperado, respeitando ou superando os prazos, otimizando recursos e orçamento.



                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center;background:white">
                                                <input id="Checkbox3" name="Negocios03" value="4,117647059" type="radio" asp-for="Negocios03" />
                                            </td>
                                            <td style="text-align:center;background:white">
                                                 4
                                            </td>
                                            <td style="text-align:center;background:white">
                                                 AVANÇADO
                                            </td>

                                            <td style="text-align:center;background:white">
                                                  Atingiu resultados excepcionais em relação aos prazos, orçamentos e metas, superando grandes obstáculos e adversidades. Agregou valor ao negócio ao direcionar ou redirecionar outras pessoas e áreas no desempenho de suas atividades.



                                            </td>
                                        </tr>



                                    }

                                }
                        </table>
                        <br>
                    </div>
                    <body>

                        <div>
                            <table id="minhaTabela04" class="table-hover alert-info bg-primary" style="width:100%;background:#e3efee;border-color:blue" align="center" border="1" bgcolor="#CCC">
                                <thead>
                                    <tr>
                                        <td style="background:#4489f6;text-align:center;color:white">
                                            Pontuação


                                        </td>
                                        <td style="background:#4489f6;text-align:center;color:white">
                                            Espirito Empreendedor



                                        </td>
                                        <td style="background:#4489f6;text-align:center;color:white">
                                              Nivel
                                        </td>
                                        <td style="background:#4489f6;text-align:center;color:white">
                                           
                                                Ser arrojado, ativo, aceitar desafios, identificar e implantar novas ideias. Mostrar-se atento ao cenário interno e externo. Facilitar, estimular e implantar mudanças desejadas. Estabelece as alianças necessárias.
                                                é persistente, sabendo priorizar, otimizar e alocar os recursos adequadamente dentro dos prazos e orçamentos previstos.
                                            


                                        </td>

                                    </tr>

                                </thead>
                                <tbody>

                                    @{

                                        {

                                            <tr>
                                                <td style="text-align:center;background:white">
                                                    <input id="Checkbox4" name="Negocios04" value="0,588235294" type="radio" asp-for="Negocios04" />
                                                </td>
                                                <td style="text-align:center;background:white">
                                                            1
                                                </td>
                                                <td style="text-align:center;background:white">
                                                     BÁSICO
                                                </td>

                                                <td style="text-align:center;background:white">
                                                       Demonstrou grande dificuldade de antever os problemas e evitá-los, agindo de forma reativa.



                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center;background:white">
                                                    <input id="Checkbox4" name="Negocios04" value="1,470588235" type="radio" asp-for="Negocios04" />
                                                </td>
                                                <td style="text-align:center;background:white">
                                                       2
                                                </td>
                                                <td style="text-align:center;background:white">
                                                      MÉDIO
                                                </td>

                                                <td style="text-align:center;background:white">
                                                      Desenvolveu e implementou parcialmente planos de ação para a sua área, porém não teve acompanhamento efetivo das ações.



                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center;background:white">
                                                    <input id="Checkbox4" name="Negocios04" value="2,941176471" type="radio" asp-for="Negocios04" />
                                                </td>
                                                <td style="text-align:center;background:white">
                                                      3
                                                </td>
                                                <td style="text-align:center;background:white">
                                                     ALTO
                                                </td>

                                                <td style="text-align:center;background:white">
                                                       Firmou alianças estratégicas com stakeholders, transpondo obstáculos. Foi capaz de ler cenários (interno e externo), prevendo riscos organizacionais e adequando rapidamente as ações da área aos objetivos da organização.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center;background:white">
                                                    <input id="Checkbox4" name="Negocios04" value="4,117647059" type="radio" asp-for="Negocios04" />
                                                </td>
                                                <td style="text-align:center;background:white">
                                                       4
                                                </td>
                                                <td style="text-align:center;background:white">
                                                      AVANÇADO
                                                </td>

                                                <td style="text-align:center;background:white">
                                                    Atuou como consultor, orientando pares e superiores na definição de planos para o alcance dos objetivos da organização. Influenciou fortemente a implantação de novas práticas, além de disseminar a visão e missão da TKL. Contribuiu para o fortalecimento da marca frente aos stakeholders, elevando o nível da organização.
                                                </td>
                                            </tr>



                                        }

                                    }
                            </table>
                            <br>
                        </div>
                        <body>

                            <div>
                                <table id="minhaTabela05" class="table-hover alert-info bg-primary" style="width:100%;background:#e3efee;border-color:blue" align="center" border="1" bgcolor="#CCC">
                                    <thead>
                                        <tr>
                                            <td style="background:#4489f6;text-align:center;color:white">
                                              Pontuação


                                            </td>
                                            <td style="background:#4489f6;text-align:center;color:white">
                                               Visão Estratégica




                                            </td>
                                            <td style="background:#4489f6;text-align:center;color:white">
                                                  Nivel
                                            </td>
                                            <td style="background:#4489f6;text-align:center;color:white">
                                                  Conhece as práticas atuais e tendências futuras de mercado que impactam o sucesso do negócio. Tem visão clara e senso de direção para propor planos estratégicos, visando o alcance de objetivos para a empresa. Transpõe grandes obstáculos, exigindo articulações com inteligência, além de prever e controlar problemas estruturais, organizacionais e operacionais.
                                            </td>

                                        </tr>

                                    </thead>
                                    <tbody>

                                        @{

                                            {

                                                <tr>
                                                    <td style="text-align:center;background:white">
                                                        <input id="Checkbox5" name="Negocios05" value="0,588235294" type="radio" asp-for="Negocios05" />
                                                    </td>
                                                    <td style="text-align:center;background:white">
                                                          1
                                                    </td>
                                                    <td style="text-align:center;background:white">
                                                          BÁSICO
                                                    </td>

                                                    <td style="text-align:center;background:white">
                                                         Demonstrou grande dificuldade de antever os problemas e evitá-los, agindo de forma reativa.

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;background:white">
                                                        <input id="Checkbox5" name="Negocios05" value="1,470588235" type="radio" asp-for="Negocios05" />
                                                    </td>
                                                    <td style="text-align:center;background:white">
                                                          2
                                                    </td>
                                                    <td style="text-align:center;background:white">
                                                          MÉDIO
                                                    </td>

                                                    <td style="text-align:center;background:white">
                                                          Desenvolveu e implementou parcialmente planos de ação para a sua área, porém não teve acompanhamento efetivo das ações.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;background:white">
                                                        <input id="Checkbox5" name="Negocios05" value="2,941176471" type="radio" asp-for="Negocios05" />
                                                    </td>
                                                    <td style="text-align:center;background:white">
                                                        3
                                                    </td>
                                                    <td style="text-align:center;background:white">
                                                         ALTO
                                                    </td>

                                                    <td style="text-align:center;background:white">
                                                           Firmou alianças estratégicas com stakeholders, transpondo obstáculos. Foi capaz de ler cenários (interno e externo), prevendo riscos organizacionais e adequando rapidamente as ações da área aos objetivos da organização.

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;background:white">
                                                        <input id="Checkbox5" name="Negocios05" value="4,117647059" type="radio" asp-for="Negocios05" />
                                                    </td>
                                                    <td style="text-align:center;background:white">
                                                           4
                                                    </td>
                                                    <td style="text-align:center;background:white">
                                                         AVANÇADO
                                                    </td>

                                                    <td style="text-align:center;background:white">
                                                        Atuou como consultor, orientando pares e superiores na definição de planos para o alcance dos objetivos da organização. Influenciou fortemente a implantação de novas práticas, além de disseminar a visão e missão da TKL. Contribuiu para o fortalecimento da marca frente aos stakeholders, elevando o nível da organização.
                                                    </td>
                                                </tr>

                                            }

                                        }
                                </table>
                                <br>
                            </div>

                            <body>

                                <div>
                                    <table id="minhaTabela06" class="table-hover alert-info bg-primary" style="width:100%;background:#e3efee;border-color:blue" align="center" border="1" bgcolor="#CCC">
                                        <thead>
                                            <tr>
                                                <td style="background:#4489f6;text-align:center;color:white">
                                                   Pontuação


                                                </td>
                                                <td style="background:#4489f6;text-align:center;color:white">
                                                    Disciplina
                                                </td>
                                                <td style="background:#4489f6;text-align:center;color:white">
                                                     Nivel
                                                </td>
                                                <td style="background:#4489f6;text-align:center;color:white">
                                                     Conhece, respeita e adota como prática as regras, normas da empresa, regulamentos e procedimentos. Demonstra comprometimento com a liderança, sendo pontual, evitando faltar ao trabalho sem necessidade e contribuindo com a realização de horas extras, quando necessário.
                                                </td>

                                            </tr>

                                        </thead>
                                        <tbody>

                                            @{

                                                {

                                                    <tr>
                                                        <td style="text-align:center;background:white">
                                                            <input id="Checkbox6" name="Negocios06" value="0,588235294" type="radio" asp-for="Negocios06" />
                                                        </td>
                                                        <td style="text-align:center;background:white">
                                                              1
                                                        </td>
                                                        <td style="text-align:center;background:white">
                                                             BÁSICO
                                                        </td>

                                                        <td style="text-align:center;background:white">
                                                              Não cumpriu as regras da empresa, não demonstrou comprometimento em realizar horas extras e apresentou faltas sem justificativas.


                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:center;background:white">
                                                            <input id="Checkbox6" name="Negocios06" value="1,470588235" type="radio" asp-for="Negocios06" />
                                                        </td>
                                                        <td style="text-align:center;background:white">
                                                             2
                                                        </td>
                                                        <td style="text-align:center;background:white">
                                                            MÉDIO

                                                        </td>

                                                        <td style="text-align:center;background:white">
                                                            Cumpriu parcialmente as políticas e regras da empresa e mesmo discordando, atendeu as orientações recebidas do seu superior. Apresentou algumas ausências, porém reportou ao gestor imediato.


                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:center;background:white">
                                                            <input id="Checkbox6" name="Negocios06" value="2,941176471" type="radio" asp-for="Negocios06" />
                                                        </td>
                                                        <td style="text-align:center;background:white">
                                                             3
                                                        </td>
                                                        <td style="text-align:center;background:white">
                                                            ALTO
                                                        </td>

                                                        <td style="text-align:center;background:white">
                                                            Antecipou as faltas possíveis, apresentando alternativas para compensação (troca de horários e/ou realização de horas extras). Cumpriu os regulamentos e procedimentos da empresa, sem orientação do seu superior.

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:center;background:white">
                                                            <input id="Checkbox6" name="Negocios06" value="4,117647059" type="radio" asp-for="Negocios06" />
                                                        </td>
                                                        <td style="text-align:center;background:white">
                                                             4
                                                        </td>
                                                        <td style="text-align:center;background:white">
                                                            AVANÇADO
                                                        </td>

                                                        <td style="text-align:center;background:white">
                                                             Cumpriu as políticas e regras da empresa, sugerindo melhorias de acordo com sua função. Apresentou raros atrasos ao longo do período e grande participação em horas extras,  sendo considerado pela equipe, exemplo de pontualidade, demonstrando alto grau de comprometimento com a empresa.
                                                        </td>
                                                    </tr>



                                                }

                                            }
                                    </table>
                                    <br>
                                </div>

                                <body>

                                    <div>
                                        <table id="minhaTabela07" class="table-hover alert-info bg-primary" style="width:100%;background:#e3efee;border-color:blue" align="center" border="1" bgcolor="#CCC">
                                            <thead>
                                                <tr>
                                                    <td style="background:#4489f6;text-align:center;color:white">
                                                       Pontuação


                                                    </td>
                                                    <td style="background:#4489f6;text-align:center;color:white">
                                                        Foco no Cliente(INTERNO/ EXTERNO)


                                                    </td>
                                                    <td style="background:#4489f6;text-align:center;color:white">
                                                        Nivel
                                                    </td>
                                                    <td style="background:#4489f6;text-align:center;color:white">
                                                        Entende e propõe soluções que atendem as expectativas dos clientes internos e externos com agilidade, assertividade e atendimento personalizado.


                                                    </td>

                                                </tr>

                                            </thead>
                                            <tbody>

                                                @{

                                                    {

                                                        <tr>
                                                            <td style="text-align:center;background:white">
                                                                <input id="Checkbox70" name="Negocios07" value="0,588235294" type="radio" asp-for="Negocios07" />
                                                            </td>
                                                            <td style="text-align:center;background:white">
                                                                 1
                                                            </td>
                                                            <td style="text-align:center;background:white">
                                                                 BÁSICO
                                                            </td>

                                                            <td style="text-align:center;background:white">
                                                               
                                                                    Apresentou grande dificuldade para identificar as necessidades dos clientes internos e externos, sendo impossível a proposta de soluções.
                                                               

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align:center;background:white">
                                                                <input id="Checkbox71" name="Negocios07" value="1,470588235" type="radio" asp-for="Negocios07" />
                                                            </td>
                                                            <td style="text-align:center;background:white">
                                                                    2
                                                            </td>
                                                            <td style="text-align:center;background:white">
                                                                 MÉDIO
                                                            </td>

                                                            <td style="text-align:center;background:white">
                                                                Atendeu parcialmente as expectativas dos clientes, necessitando de ajuda para apresentação de soluções assertivas.


                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align:center;background:white">
                                                                <input id="Checkbox72" name="Negocios07" value="2,941176471" type="radio" asp-for="Negocios07" />
                                                            </td>
                                                            <td style="text-align:center;background:white">
                                                                  3
                                                            </td>
                                                            <td style="text-align:center;background:white">
                                                                 ALTO
                                                            </td>

                                                            <td style="text-align:center;background:white">
                                                                Reconheceu as necessidades dos clientes e soube adaptar recursos, produtos, serviços e/ou operações alcançando a satisfação dos clientes.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align:center;background:white">
                                                                <input id="Checkbox73" name="Negocios07" value="4,117647059" type="radio" asp-for="Negocios07" />
                                                            </td>
                                                            <td style="text-align:center;background:white">
                                                                  4
                                                            </td>
                                                            <td style="text-align:center;background:white">
                                                                  AVANÇADO
                                                            </td>

                                                            <td style="text-align:center;background:white">
                                                                 Superou a expectativa dos clientes ao desenvolver soluções personalizadas de forma assertiva e ágil. Realizou ações para estimular outras pessoas nessa direção.

                                                            </td>
                                                        </tr>



                                                    }

                                                }
                                        </table>

                                    </div>

                                </body>
                            </body>
                        </body>
                    </body>
                </body>
            </body>
            <br>

    </form>
    <button type="submit" class="btn btn-success" disabled>Finalizar Avaliação</button>
    @section Scripts {
        <script>
            $(document).ready(function () {
                $("#Checkbox70").click(function () {
                    // habilita o campo
                    $("button").prop("disabled", false);

                });
            });
             $(document).ready(function () {
                $("#Checkbox71").click(function () {
                    // habilita o campo
                    $("button").prop("disabled", false);

                });
             });
             $(document).ready(function () {
                $("#Checkbox72").click(function () {
                    // habilita o campo
                    $("button").prop("disabled", false);

                });
             });
             $(document).ready(function () {
                $("#Checkbox73").click(function () {
                    // habilita o campo
                    $("button").prop("disabled", false);

                });
            });
/**/</script>
        </div>


    </body>
</html>




    }

