
@{
    ViewData["Title"] = "Menu";
}

<div class="row">

</div>
<a href="../RecursosHumanos/IndexRelatorio">
    <div class="col-lg-4 text-center">
        <img src="~/images/relatorio.png" width="46%" />
        <h3>Relátorio da Avaliação</h3>
    </div>
</a>
<a href="../RecursosHumanos/LoginNineBox">
    <div class="col-lg-4 text-center">
        <img src="~/images/grafico.png" width="46%" />
        <h3>NineBox</h3>
    </div>
</a>

<div class="row">
    <a href="../RecursosHumanos/LoginRadar">
        <div class="col-lg-4 text-center">
            <img src="~/images/radarplot_5726.png" width="45%" />
            <h3>Radar</h3>
        </div>
    </a>
    <a href="../RecursosHumanos/IndexCadastro">
        <div class="col-lg-4 text-center">
            <img src="~/images/users_844.png" width="53%" />
            <h3>Cadastro de Usuários</h3>
        </div>
    </a>
    <div class="row">
        <a href="../AvaliacaoPessoas/IndexGestor">
            <div class="col-lg-4 text-center">
                </br></br>
                <img src="~/images/resultado.jpg" width="70%" />
                <h3>Auto Avaliar</h3>
            </div>
        </a>

        <div class="row">
            <a href="../Usuario/AlterarSenha">
                <div class="col-lg-4 text-center">
                    </br></br>
                    <img src="~/images/ajuda.png" width="40%" />
                    <h3>Alterar a Senha</h3>
                </div>
            </a>
        </div>



