
@{
    ViewData["Title"] = "Menu";
}

<br><br>
<div class="row">

</div>
<a href="../RecursosHumanos/RelatorioUsuario">
    <div class="col-lg-4 text-center">
        <img src="~/images/users_844.png" width="45%" />
        <h3>Atualizar Cadastro</h3>
    </div>
</a>
<a href="../Usuario/NovoCadastro">
    <div class="col-lg-4 text-center">
        <img src="~/images/newuser.png" width="46%" />
        <h3>Novos Usuários</h3>
    </div>
</a>

   
        </div>



