
@{
    ViewData["Title"] = "Menu";
}

<div class="row">


<a href="../RecursosHumanos/Relatorio">
    <div class="col-lg-4 text-center">
        <img src="~/images/relatorio.png" width="46%" />
        <h3>Relátorio de Competência</h3>
    </div>
</a>
<a href="../RecursosHumanos/RelatorioCargos">
    <div class="col-lg-4 text-center">
        <img src="~/images/relatorio.png" width="46%" />
        <h3>Relátorio de Cargo</h3>
    </div>
</a>

<div class="row">
    <a href="../RecursosHumanos/RelatorioMetas">
        <div class="col-lg-4 text-center">
            <img src="~/images/relatorio.png" width="45%" />
            <h3>Relátorio de Meta</h3>
        </div>
    </a>
</div>
   