<h3>Registro Excluido com Sucesso !!!!</h3>

<button type="button" class="btn btn-primary" onclick="javascript:window.location.href='/RecursosHumanos/RelatorioUsuario'">VOLTAR</button>
<script>
    function Excluir(id)
    {
        window.location.href = "../Usuario/Excluir/" + id;
    }


</script>

