@model UsuarioModel
@{
    ViewData["Title"] = "Cadastro";
}

@{
    Layout = "../Shared/_LayoutAvaliar.cshtml";
}

<br>
<br>

@{
    try
    {
        if (TempData["MensagemLoginInvalido"].ToString() != null)
        {
            <div class="alert alert-danger">
                <strong>Atenção!</strong> @TempData["MensagemLoginInvalido"]
            </div>

        }
    }
    catch
    {

    }

}
<h2 style="text-align:center">Cadastrar Novo Usuario</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<div class="container" style="background-color:silver; border-radius: 10px; padding:20px; width:300px;">
    <body>
        <form asp-controller="Usuario" asp-action="NovoCadastro" class="form-box">

            <div>
                <div> <label>Matricula</label> </div>
                <input type="text" asp-for="Matricula"  id="txtmatricula" name="txtmatricula" class=" form-control">
                <div><label>CPF</label></div>
                <input type="text" asp-for="CPF"  id="txtCPF" name="txtCPF" class="form-control ">
                <div><label>Nome</label></div>
                <input type="text" asp-for="Nome"  id="txtNome" name="txtNome" class="form-control ">
                <div><label>Cargo</label></div>
                <input type="text" asp-for="Cargo"  id="txtCargo" name="txtCargo" class="form-control ">
                <div><label>Unidade</label></div>
                <input type="text" asp-for="Unidade"  id="txtCargo" name="txtCargo" class="form-control ">
                <div><label>Gestor</label></div>
                <input type="text" asp-for="Gestor" id="txtGestor" name="txtGestor" class=" form-control">
                <div><label>Perfil</label></div>
                <input type="text" asp-for="Perfil"  id="txtPerfil" name="txtPerfil" class=" form-control">
                <div><label>Senha</label></div>
                <input type="text" asp-for="Senha"  id="txtSenha" name="txtSenha" class=" form-control">
            </div>
            <br>
            <button type="submit" class="btn btn-success">ATUALIZAR</button>
            <button type="button" class="btn btn-primary" onclick="javascript:window.location.href='/RecursosHumanos/IndexCadastro'">VOLTAR</button>
            <button type="button" class="btn btn-warning" onclick="javascript:window.location.href='/RecursosHumanos/Index'">HOME</button>
            <div>

            </div>

        </form>

    </body>
</html>
